body {
    height: 100%;
    width: 100%;
    min-height: 90rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.sudoku {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 81rem;
    height: 81rem;
    outline: 2px solid #ccc;
}

.sudoku .section {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 27rem;
    height: 27rem;
    outline: 3px solid #ccc;
}

.sudoku .section .cell {

    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 9rem;
    height: 9rem;
    outline: 1px solid #ccc;
}







/*.hide {*/
/*    display: none;*/
/*}*/

.redBlock {
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    font-size: 10px;
    width: 9rem;
    height: 9rem;
    background-color: #FFFFFF;
}

.blueBlock{
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    width: 9rem;
    height: 9rem;
    outline: 1px solid #ccc;
    background-color:blue;

}

/*.redBlock:hover + .hide {*/
/*    display: flex;*/
/*}*/

.redBlock:hover {
    opacity: 0%;
    transition: .2s;
}








.row {
    display: flex;
    background-color: DodgerBlue;
    padding: 5px;
}


.mode-switch {
    font-size: 2rem;
    margin-bottom: 2rem;
}