body {
    height: 100%;
    width: 100%;
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
}

.sudoku {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 45rem;
    height: 45rem;
    outline: 2px solid #ccc;
}

.sudoku .section {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 15rem;
    outline: 3px solid #ccc;
}

.sudoku .section .cell {

    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    outline: 1px solid #ccc;
}

.inputBox{
    align-items: center;
}

.cellInput{
    align-items: center;

    width: 4.7rem;
    height: 4.7rem;
    text-align: center;


    font-size:30px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #FFFFFF00;

}

.fixedFont{
    font-size:30px;
}

.pencil{
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;

    text-align: center;
    vertical-align: bottom;

    font-size: 10px;
    opacity: 30%;
    width: 5rem;
    height: 1rem;

    vertical-align: text-bottom;
    padding-top: 3px;

}







/*.hide {*/
/*    display: none;*/
/*}*/

.redBlock {
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    font-size: 10px;
    width: 5rem;
    height: 5rem;
    background-color: #FFFFFF;
}

.blueBlock{
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    width: 5rem;
    height: 5rem;
    outline: 1px solid #ccc;
    background-color:blue;

}

/*.redBlock:hover + .hide {*/
/*    display: flex;*/
/*}*/

.redBlock:hover {
    opacity: 0%;
    transition: .2s;
}








.row {
    display: flex;
    background-color: DodgerBlue;
    padding: 5px;
}


.mode-switch {
    font-size: 2rem;
    margin-bottom: 2rem;
}


.alert {
    padding: 20px;
    background-color: #f44336;
    color: black;
}

.closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}