<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/app.css}" />
    <title>Sudoko - with Cameron and Ehab</title>
</head>
<body>

<div class="mode-switch">
    <div th:hidden="${!writingTool}">
        <a href="/switchTool">
            <button>✏️ Switch to Pencil</button>
        </a>
    </div>
    <div th:hidden="${writingTool}">
        <a href="/switchTool">
            <button >✒️ Switch to Pen</button>
        </a>
    </div>

</div>

<div class="numbers">Hover over me.</div>
<div class="hide">I am shown when someone hovers over the div above.</div>


<div>
    <a href="/startNewGame">
        <button >Start new Game</button>
    </a>
</div>


<div class="sudoku">
    <div th:each="currentRow : ${theBoard}">
        <div class="section">
            <div th:each="currentTile : ${currentRow}">
                <div class="cell">
                    <div th:hidden="${!currentTile.fixedNumber}">
                        <div th:text="${currentTile.actualNumber}"></div>
                    </div>
                    <div th:hidden="${currentTile.fixedNumber}">
                        <div th:hidden="${!writingTool}"> <!--Using a pen-->
                            <form action="/UserMove/a">
                                <label for="fname">test</label>
                                <input type="text" id="fname" name="makeMark"><br><br>

                            </form>


                        </div>
                        <div th:hidden="${writingTool}">  <!--Using a pencil-->
                            Pencil
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




</body>
</html>