<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/app.css}" />
    <title>Sudoko - with Cameron and Ehab</title>


    <style>
        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
            width: 45rem;
        }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        .closebtn:hover {
            color: black;
        }
    </style>




</head>
<body onload="window.scrollTo(0,document.body.scrollHeight);">



<div>
    <a href="/startNewGame">
        <button >Start new Game</button>
    </a>
</div>

<br>

<div>
    <a href="/SolvePuzzle">
        <button >Solve the Puzzle</button>
    </a>
</div>

<div class="mode-switch">
    <div th:hidden="${!writingTool}">
        <a href="/switchTool">
            <button>✏️ Switch to Pencil</button>
        </a>
    </div>
    <div th:hidden="${writingTool}">
        <a href="/switchTool">
            <button >✒️ Switch to Pen</button>
        </a>
    </div>
</div>


<br>

<div th:hidden="${!winCondition}">
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Congratulations!</strong> you solved the board!
    </div>
</div>


<div class="sudoku">
    <div th:each="currentRow : ${theBoard}">
        <div class="section">
            <div th:each="currentTile : ${currentRow}">
                <div class="cell">
                    <div th:hidden="${!currentTile.fixedNumber}">
                        <div class="fixedFont">
                            <div th:text="${currentTile.expectedNumber}"></div>
                        </div>
                    </div>
                    <div th:hidden="${currentTile.fixedNumber}">
                        <div th:hidden="${!writingTool}"> <!--Using a pen-->
                            <div class="inputBox">
                                <div th:hidden="${currentTile.notZero}">

                                    <form th:action="'/UserMove/'+${currentTile.id}">

                                        <label for="gname"></label>
                                        <input class="cellInput" type="text" id="gname" name="makeMark"><br><br>

                                    </form>
                                    <div class="pencil">
                                        <strong th:each="oneMark : ${currentTile.pencilMarks}">
                                            <strong th:text="${oneMark}+' '"></strong>
                                        </strong>
                                    </div>
                                </div>
                                <div th:hidden="${!currentTile.notZero}">

                                    <form th:action="'/UserMove/'+${currentTile.id}">

                                        <label for="fname"></label>
                                        <input class="cellInput" type="text" id="fname" name="makeMark" th:value="${currentTile.actualNumber}"><br><br>

                                    </form>
                                    <div class="pencil">
                                        <strong th:each="oneMark : ${currentTile.pencilMarks}">
                                            <strong th:text="${oneMark}+' '"></strong>
                                        </strong>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div th:hidden="${writingTool}">  <!--Using a pencil-->



                            <div th:hidden="${currentTile.notZero}">
                                <form th:action="'/PencilMark/'+${currentTile.id}">

                                    <label for="Mname"></label>
                                    <input class="cellInput" type="text" id="Mname" name="makeMark"><br><br>

                                </form>
                                <div class="pencil">
                                    <strong th:each="oneMark : ${currentTile.pencilMarks}">
                                        <strong th:text="${oneMark}+' '"></strong>
                                    </strong>
                                </div>
                            </div>
                            <div th:hidden="${!currentTile.notZero}">
                                <div class="fixedFont">
                                    <div th:text="${currentTile.actualNumber}"></div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div>
    Press [ENTER] to submit a number, enter '0' to clear a mark
</div>






</body>
</html>